body {
    margin: 0;
    font-family: system-ui;
}

#webgl-canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
}

#stats-bl, #stats-br {
    position: fixed;
    bottom: 0.6em;
    color: white;
    text-shadow: black 0 0 4px;
    font-size: 20px;
}

#stats-bl {
    left: 0.7em;
}

#stats-br {
    right: 0.7em;
}
